<div class="main">
  <div class="donate-container">
    <div class="main-container">
      <div class="cards">
        <div class="card card-4">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">
            Want to Deliver Food?
            </h2>
          <p class="card__apply">
            <a class="card__link" style="font-size: large; " routerLink="/donate"
              ><strong>Donate Now</strong><i class="fas fa-arrow-right"></i
            ></a>
          </p>
        </div>
        <div class="card card-5">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title">
            Looking for Hot  & Tasty Meals?
        </h2>
          <p class="card__apply">
            <a class="card__link" routerLink="/food"
              >Apply Now <i class="fas fa-arrow-right"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
